html {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);

}
header{
    display: block;
}
 aside{
    display: block;
    width: 30%;
    height: auto;
    float: right;
 }
 img{
    display: block;
    width: 60rem;
    height: auto;
 }