 @import url('https://fonts.cdnfonts.com/css/montserrat');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
                

body{
    font-family: "Poppins", sans-serif;
    color: gray;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    color: black;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1300px;
    margin: 0 auto;
}
.section .info .title, 
.section .info desc:nth-last-of-type{
    margin-bottom: 32px;
}

.section .picture,
.section .info{
    width: 50%;
}

.features{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.feature .features:not(:last-child){
    margin-bottom: 16px;
}
.features .feature{
    display: flex;
    align-items: center;
    gap: 16px;

}

.features .feature .feature-icon{
    width: 80px;
}
.features .feature .feature-container .feature-title, 
.features .feature .feature-container .feature-desc{
margin: 0px;
}
